{
  "extends": ["auto"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "eslint-comments/disable-enable-pair": "off",
    "jsx-a11y/anchor-is-valid": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "scanjs-rules/identifier_localStorage": "off",
    "object-shorthand": "warn",
    "no-param-reassign": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "simple-import-sort/imports": "warn"
  }
}
